# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.MicroserviceExample.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Skole\7. semester\Bachelor\Testprojects\MicroserviceExample\.idea\.idea.MicroserviceExample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
